body {
	margin: 0px;
	background: rgb(41, 41, 41);
}

a, button {
	margin: 0 5px;
	cursor: pointer;
}

.row {
	margin-left: 0rem;
    margin-right: 0rem;
    width: 100%;
}

a {
	color: rgb(53, 135, 223);
}

.NavBar {
	background: black;
	height: 55px;
	padding-left: 20px;
	padding-top: 1.3rem;
}

.attending {
	color: orangered;
}

.ProfileInfo {
	height: 400px;
	background: grey;
	color: white;
	padding-top: 4rem;
	padding-left: 4rem;
}

.ShowNav {
	height: 45px;
	background: black;
	padding-top: 0.85rem;
	padding-left: 4rem;
}


.navLink {
	color: white;
	margin-left: 3rem;
}
.SearchResults {
	position: absolute;
	background: rgba(104, 104, 104, 0.536);
	border-radius: 7px;
	color: white;
	width: 30%;
	text-align: right;
}

.Footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: black;
	color: white;
	text-align: right;
}

input[type='text'], input[type='password'] {
	background-color: white;
}

input[type='time'], input[type='date'] {
	
    background-color: white;
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    height: 3.8rem;
    padding: .6rem 1.0rem;
    width: 100%;
}

.hostedEventsTitle {
	background: teal;
	height: 100px;
	color: white;
}

ul {
	list-style: none;
}

.friendsColumn {
	text-align: center;
	color: white;
}

.SearchUser {
	width: 30%;
	display: block;
	float: right;
	margin-top: -6px;
	margin-right: 20px;
}

.removeButton, .addButton {
	background-color: transparent;
	border: transparent;
	border-radius: 40px;
	padding: 0 1rem;
	height: 30px;
	font-size: 16;
	line-height: 1.8rem;
}

.profileImage {
	float: right;
    margin-right: 25%;
	margin-top: -7%;
	height: 200px;
}

.friendsHeader, .eventsBanner {
	height: 200px;
	padding-top: 7rem;
	color: black;
	text-align: center;
}

.friendsColumnHeader, .hostedHeader, .friendsEventsHeader {
	background: black;
	margin-left: -1rem;
	width: calc(100% + 2rem);
	color: white;
	height: 100px;
	padding-top: 3rem;
	margin-bottom: 20px;
}

.hostedHeader, .friendsEventsHeader {
	text-align: center;
}

.friendsUL {
	text-align: right;
	color: white;
}

.hostedUL {
	color: white;
}

.CreateEvent, .LogIn, .EditEvent, .EditProfile {
	color: white;
	width: 50%;
	text-align: center;
	margin: 0 auto;
}