body {
	margin: 0px;
	background: rgb(200, 200, 200)
}

a, button {
	margin: 0 5px;
	cursor: pointer;
}

.row {
	margin-left: 0rem;
    margin-right: 0rem;
    width: 100%;
}

a {
	color: white;
}

.NavBar {
	background: black;
	height: 55px;
	padding-left: 20px;
	padding-top: 1.3rem;
}

.attending {
	color: orangered;
}

.ProfileInfo {
	height: 300px;
	background: grey;
	color: black;
	padding-top: 4rem;
	padding-left: 4rem;
}

.ShowNav {
	height: 45px;
	background: orangered;
	padding-top: 0.85rem;
	padding-left: 4rem;
}


.navLink {
	margin-left: 3rem;
}
.SearchResults {
	background: rgba(255, 255, 255, 0.379);
}

.Footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: black;
	color: white;
	text-align: right;
}

input[type='text'], input[type='password'] {
	background-color: white;
}

.hostedEventsTitle {
	background: teal;
	height: 100px;
	color: white;
}

ul {
	list-style: none;
}

.friendsColumn {
	text-align: center;
}

.SearchUser {
	width: 30%;
	display: block;
	float: right;
	margin-top: -6px;
}